@import url('https://fonts.googleapis.com/css?family=Oswald:200');


body, html{
  overflow-x: hidden;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  background-color: rgb(29, 30, 31);
}

.jumbotron{
  background-color: rgb(29, 30, 31);
  color: #a9adb1; 
}
.nav{
  background-color: #262728;
}
.nav li a{
  margin: 0 ;
  display: inline-block ;
  color: #a9adb1 !important;
}
.shows-list{
  margin: 0 auto;
  width: 70vw;
  background-color: #262728;
}
.shows-list ul{
  list-style-type: none;
  padding-top: 50px;
}
.shows-list li{
  display: inline-block;
  margin: 10px 20px;
  width: 200px;
  border-bottom: #7d7e7f 1px solid;
}
.shows-list img{
  height: 200px;
  width: 150px;
  margin: 0 auto
}

.list-title{
  background-color: inherit; 
  color: #7d7e7f;
  margin: 20px;
}
.card{
  background-color: #262728;
  color: rgb(206, 203, 203); 
  word-wrap: wrap;
  height: 370px;
}
.card-title{
height: 35px;
width: 150px;
overflow: hidden;
color: aliceblue !important;
background-color: transparent;
border: none;
font-size: 20px;
text-align: left;
}

.card span,  .btn{
  color: #a9adb1;
}
.card span{
  margin-right: 20px;
  font-size: 14px;
}
.card .btn {
  padding: 3px !important;
}
.shows{
  display: flex;
  flex-direction: row;
}
.shows:last-child{
  margin: 5px 0;
}
.show{
  padding: 20px;
  border-radius: 30px;
  background-color: #262728 !important;
  color: beige;
  font-family: 'Oswald', sans-serif;
}
.show img{
  width: 100%;
  height: 100%;
  border-radius: 30px;
}
.show-info{
  margin: 30px auto;
  margin-top: 50px;
}
.show-info > div{
  margin: 10px 0;
}
.show-info h3, h6{
  color: rgb(0, 252, 135);
}
.show-info h5 h1{
  color: white !important;
}
.title, .sub-title{
  line-height: 1.5;
}
.title{
  color: white !important;
  text-transform: uppercase;
  font-weight: 900;
}
.desc {
  line-height: 2;
  font-size: 1.1rem;
  font-weight: 500;
  color: white;
}
.show ul li:first-child{
  margin-left: 0 !important;
}
.actor, .writer{
  margin: 5px 10px;
  display: inline;
  color: rgb(0, 252, 135) !important;
}
.actor:first-child{
  margin-left: 0;
}
.show-page{
  width: 100vw;
  height: 100vh;
}